{{define "pages/400.tmpl"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Bad Request | IMDb 2.0</title>
        {{template "includes/head.tmpl"}}
    </head>
    <body>
        {{template "includes/nav.tmpl"}}
        <main class="container">
        <h1>400 - Bad Request</h1>
        <p>Sorry, your request was invalid or cannot be served.</p>
        <p><a href="/">Go back to the homepage</a></p>
        </main>
    </body>
</html>
{{end}}
