{{define "pages/500.tmpl"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Internal Server Error | IMDb 2.0</title>
        {{template "includes/head.tmpl"}}
    </head>
    <body>
        {{template "includes/nav.tmpl"}}
        <main class="container">
        <h1>500 - Internal Server Error</h1>

        <p><a href="/">Go back to the homepage</a></p>
        </main>
    </body>
</html>
{{end}}

