{{define "pages/search.tmpl" }}
<!DOCTYPE html>
<html>
    <head>
        <title>Search: {{.query}}</title>
        {{template "includes/head.tmpl"}}
    </head>
    <body>
        {{template "includes/nav.tmpl" .}}
        <main class="container">
            <div>
            <h2>Search results for "{{.query}}" - Page {{ .page }}</h2>
            {{range .titles}}
            <article>
            <header>
                <a href="/movies/{{.Tconst}}">{{.PrimaryTitle}}</a>
            </header>
            {{if .StartYear.Valid }}{{ .StartYear.Int64 }}{{end}}{{if .EndYear.Valid -}} -{{- .EndYear.Int64}}{{end}} &bull; {{.TitleType}}
            <footer>{{ if .Genres.Valid }}{{ .Genres.String }}{{ end }}</footer>
            </article>
            {{end}}
            </div>

            <div>
                <a
                    role="button"
                    class="primary"
                    {{if (le .prevPage 0)}} disabled {{end}}
                    href="/search?q={{.query}}&page={{ .prevPage }}"
                    >Previous</a>
                <a
                    role="button"
                    class="primary"
                    href="/search?q={{.query}}&page={{ .nextPage }}"
                    {{ if eq (len .titles) 0 }} disabled {{end}}
                    >Next</a>
            </div>
        </main>

    </body>
</html>
{{end}}

