{{define "includes/nav.tmpl"}}
<div class="container">
    <nav>
        <ul>
            <li><strong>IMDb 2</strong></li>
        </ul>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
        </ul>
    </nav>
</div>
{{end}}
