{{define "includes/nav.tmpl"}}
<div class="container">
    <nav>
        <ul>
            <li><strong><a href="/">IMDb 2</a></strong></li>
        </ul>
        <ul>
            <li>
            <form action="/search" method="get">
                <fieldset role="search">
                    <input
                        type="text"
                        name="q"
                        placeholder="Search..."
                        {{ if .query }} value="{{.query}}" {{ end }}
                        required>
                    <button type="submit" class="primary"><i class="bi bi-search"></i></button>
                </fieldset>
            </form>
            </li>
        </ul>
    </nav>
</div>
{{end}}
